@import "bulma";
//
// * {
//   font-size: 62.5%
// }

.container {
     text-align: center;
     width: 80%;
     margin-left: 10%;
 }

.top-bar {
  background-color: blue;
  color: white;
  font-size: 28px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 7px;
}

.main-list {
  text-align: left;
  padding-left: 10%;
}

.name-list {
  display: inline-block;
  font-size: 16px;
  text-align: left;
}

.photo-list{
  width: 40px;
  display: inline-block;
  border-top-left-radius: 5px;
}
