<div ng-click="test2()">Test me</div>

<form ng-submit="addContact()">
<div class="field">
  <label class="label">Name</label>
  <p class="control">
    <input class="input" type="text" placeholder="Name">
  </p>
</div>

<div class="field">
  <label class="label">Phone Number</label>
  <p class="control">
    <input class="input" type="text" placeholder="Phone Number">
  </p>
</div>

<div class="field">
  <label class="label">City</label>
  <p class="control">
    <input class="input" type="text" placeholder="City">
  </p>
</div>

<div class="field">
  <label class="label">State</label>
  <p class="control">
    <input class="input" type="text" placeholder="State">
  </p>
</div>

<div class="field">
  <label class="label">Photo Url</label>
  <p class="control">
    <input class="input" type="text" placeholder="Photo Url">
  </p>
</div>

<div class="field">
  <label class="label">Email</label>
  <p class="control">
    <input class="input" type="text" placeholder="Email">
  </p>
</div>

<div class="field is-grouped">
  <p class="control">
    <button class="button is-primary">Submit</button>
  </p>
  <p class="control">
    <button class="button is-link">Cancel</button>
  </p>
</div>
</form>
